<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}AztraBot - Your Technical Assistant{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                // Display flash messages to the user
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
